.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightgrey;
  padding: 20px;
  margin-bottom: 40px;
}

.brand {
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
  margin-right: 20px;
}
